[features]
seeds = false
skip-lint = false

[programs.localnet]
subscription_billing = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[programs.devnet]
subscription_billing = "5F2mgGWf8jsJVrNYyvHx8qSTVTK9DdCd5YY77C7kK5H6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
